.container{
    width: 40rem ;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: center;

}

.form{
    display: inline-flex;
    height: 2rem;
    justify-content: center;
}

.search{
    width : calc(100% - 1.9rem);
    padding: 0.8rem;

}

.buttonForm{
    height: 2rem;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    color: #757575;
    background: #f1f1f1;
}

#perfil{
    display: grid;
    grid-template-columns: 1fr;
}